/* ============================================================
       Code CSS
============================================================ */
table {
    border: 1px solid black;
    border-collapse: collapse;
    border-color: white;
    margin: 0 auto;
}

caption {
    text-align: center;
    padding-bottom: 15px;
}

thead {
    background-color: #2d9efb;
}

td, th {
    border: 1px solid black;
    padding: 15px;
    border-color: white;

}

.footer {
    margin-top: 20px;
    text-align: center;
    color: #495670;
    padding: 10px;
    font-size: 0.75rem;
    
}

body{
    background-color: #0a0f1e;
    color: white;
    min-width: 70vh;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, ol {
    list-style:none;
}

a {
    color:rgb(0, 153, 255);
    text-decoration: none   ;
}

strong, span{
    color: rgb(45, 158, 251);
}

.head{
    display: flex;
    padding: 30px;
    justify-content: center;
}

hr {
    border-style: dashed;
    color: #2d9efb ;
}

.profile{
    max-width: 15rem;
    border-radius: 75px;
    padding: 15px;
}

.info-bulle {
    padding: 20px;
}

.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: -5px;
}

.role{
    text-transform: capitalize;
    font-family: cursive;
    font-style: italic;
    color: #82c7ff;
}

.desc{
    text-transform: capitalize;
    font-family: cursive;
    font-style: italic;
    color: #8d95a4;
}

nav{
    position: sticky;
    display: flex;
    background-color: #03164a;
    padding: 30px;
    max-height: 100px;
    border-radius: 20px;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.menu{
    display: inline;    
    padding-left: 50px;
}

.menu  a{
    color: #edf0f6;    
    padding-left: 10px;
    text-transform: uppercase;
}

.menu  a:hover{
    color: #2d9efb;    
    padding-left: 10px;
    text-decoration: underline 5px;
}

.section{
    display: inline-flex;
    padding: 50px;
    padding-left: 30px;
    
}

.main{
    padding-left: 30px;
    padding-right: 30px;

}

.main h2{
    color: #2d9efb;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: -5px;
}

#apropos img{
    max-height: 350px;
    max-width: 600px;
    border-radius: 85px;
    padding: 30px;
    margin:  0 auto;
}

.card{
    background-color: #0b53e3;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

.card:hover{
    background-color: #ffffff;
    color: #0b53e3;
    cursor: pointer;
    box-shadow: inset;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}